<div class="body">
  <div class="container">
    <h1>
      <span class="link">Link your </span>
      <span class="bussiness-card">business card</span>
    </h1>
    <h1>
      <span class="to">to </span> <span class="highlight">unlock cashback </span
      ><span class="offers">offers</span>
    </h1>

    <table>
      <thead>
        <tr>
          <th></th>
          <th>No card linking required</th>
          <th>Link your card to get</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="td-text">Instant Coupons</td>
          <td class="checkmark"></td>
          <td class="checkmark"></td>
        </tr>
        <tr>
          <td class="td-text">Full access to Savings Edge benefits</td>
          <td></td>
          <td class="checkmark"></td>
        </tr>
        <tr>
          <td class="td-text">Cashback tracking</td>
          <td></td>
          <td class="checkmark"></td>
        </tr>
        <tr>
          <td class="td-text">Merchant location search</td>
          <td></td>
          <td class="checkmark"></td>
        </tr>
        <tr>
          <td class="td-text">Cashback offers</td>
          <td></td>
          <td class="checkmark"></td>
        </tr>
      </tbody>
    </table>

    <button class="button-large">LINK YOUR CARD ></button>
  </div>
</div>
